nav { background: linear-gradient(135deg, hsla(228, 17%, 53%, 1) 0%, hsla(229, 28%, 88%, 1) 100%); }

.article-frame {
    margin: auto;
    margin-top: 3vw;
    width: 95%;
    min-height: 20%;
    padding: none;
    background: linear-gradient(45deg, hsla(228, 17%, 53%, 1) 0%, hsla(229, 28%, 88%, 1) 100%);
}

.article-title {
    padding-left: 20px;
    line-height: 1;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 2.5vw;
    font-weight: 900;
    transition: all 0.75s;
}

.article-title:hover { color:white; }

.article-img {
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    width: 75%;
    height: auto;
}

.article-description {
    padding: 10px 0px 20px 20px;
    font-size: 1.75vw;
}

.article-source {
    padding: 10px 0px 10px 20px;
    font-weight: 800;
}